# Kaggle Python 3.10.12 (T4 x2 GPU runtime)
tensorflow==2.18.0
tensorflow-text==2.18.1
tf_keras==2.18.0

# PyTorch (CUDA 12.x)
torch==2.5.1+cu124
torchvision==0.20.1+cu124

# RAPIDS (CUDA 12.x)
cudf-cu12==25.2.2
cuml-cu12==25.2.1
pylibraft-cu12==25.2.0
rmm-cu12==25.2.0

# NLP Libraries
transformers==4.51.1
sentence-transformers==3.4.1

# Reinforcement Learning
gymnasium==0.29.0
