# TensorFlow and related packages (GPU-enabled)
tensorflow==2.17.1
tensorflow-text==2.17.0
protobuf==4.25.6
fsspec==2024.10.0

# Data manipulation
pandas==2.2.2
numpy==1.26.4

# PyTorch and related packages
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1


# Transformers and tokenizers
transformers==4.41.0
tokenizers==0.13.3

# Machine learning utilities
scikit-learn==1.6.1

# Web framework and others
flask==2.2.2
speechrecognition==3.14.2

# Datasets library
datasets==3.5.0
